<mat-toolbar>
  <mat-toolbar-row>
    
    <button mat-button routerLink="home">
      <span class="title">Film catalog</span>
    </button>

    <!-- Input search -->
    <app-search [serchIn]="'/movie'"  (searchresult)="getSearchResult($event)"></app-search>

    <span class="spacer"></span>


    <!-- Pagination -->
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEventFoo($event, pageEvent = $event)">
    </mat-paginator>

  </mat-toolbar-row>
</mat-toolbar>

<!-- Search result-->
<div class="wraper search-result" *ngIf="filmssearch">
  <ul >
    <li *ngFor="let serchitem of filmssearch">

      <div class="card-wraper">

        <div class="img-card-wraper">
          <img src="{{ imgsizepath + serchitem.poster_path }}" alt="">
        </div>

        <div class="search-result-header">
          {{serchitem.title}}, {{serchitem.release_date.substr(0,4)}}
        </div>

      </div>
    </li>
  </ul>
</div>

<!-- List of films -->
<div class="films-list">
  <div class="wraper">

    <div class="film" id="{{film.id}}" *ngFor="let film of filmsobj">
      <app-film [film]="film"></app-film>
    </div>

  </div>
</div>


<!-- Pagination -->
<div class="paginator-wrap">

   <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEventFoo($event, pageEvent = $event)">
  </mat-paginator>

</div>





