
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.wraper {
  height: calc( 100vh - 64px );
  width: 100%;
  display: flex;
  background: url("https://www.cepolina.com/photo/America/New-York/streets-New-York/5/New-York-street-skyscrapers-Broadway.jpg")
    no-repeat center bottom / cover;
}

.col {
  height: 100%;
  width: 50%;
  display: inherit;
  align-items: center;
  /*mix-blend-mode: overlay;*/
  color: white;
  font-size: 7em;
  text-shadow: 0 5px 10px rgba(0,0,0,1);
  text-transform: uppercase;
  background-color: white;
}
.left {
}
.right {
  font-size: 7em;
}

.open {
  mix-blend-mode: overlay;
  /*-webkit-background-clip: text ;*/
  /*-webkit-text-fill-color: transparent;*/

}
.open.left {
  background: darkblue;
  /*padding: 0 .5em;*/
}
.open.right {
  background: darkslategrey;
  font-size: 7em;
}
.openall.col {
  display: none;
}
