.wraper {
  background: url(../../../assets/img/bg.jpg) no-repeat top center / cover;
  display: flex;
  height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
}
.serch-wraper {
  background-color: rgba(255,255,255,.8);
  border-radius: 3px;
  width: 50em;
  height: 10em;
  display: inherit;
  align-items: center;
  justify-content: center;
}
.input-serch {
  width: 40em;

}


