<mat-toolbar>
  <mat-toolbar-row>

    <span class="plus">В избранное добавлено: {{plusOne}} элементов</span>
    <span class="example-spacer"></span>

    <form class="example-form">

      <mat-form-field class="example-full-width">
        <input matInput
               #message maxlength="256"
               placeholder="Поиск фильма"
               [(ngModel)]="query"
               name="query"
               (ngModelChange)="searchFilm()"
        >
        <!--<mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>-->
        <!--<mat-hint align="end">{{message.value.length}} / 256</mat-hint>-->
      </mat-form-field>

    </form>

    <span class="example-spacer"></span>

    <mat-form-field>

      <mat-select [(value)]="selected" placeholder="Сортировка">
        <mat-option *ngFor="let option of sortList"
                    [value]="option.value"
                    (click)="sortListFilm ()"
        >
          {{option.viewValue}}
        </mat-option>

      </mat-select>

    </mat-form-field>

  </mat-toolbar-row>
</mat-toolbar>


<div class="wraper">

  <div class="film" *ngFor="let film of isshow">
    <app-film-item [film]="film" (favorite)="counterFavorite($event)"></app-film-item>
  </div>

</div>
<div class="row">
  <button [disabled]="!step" (click)="witchAdd()" mat-button>Показать еще</button>
</div>

